.App {
  text-align: center;
}
.season-header{
  border-bottom: 2px solid #ffffff;
  width: auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.season-header-btn{
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.season-header-btn:hover{
  text-decoration: underline;
}

.not-found-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

table{
  margin: 0 auto;
  margin-bottom: 2rem;
  border-collapse: collapse;
  width: 50%;
  border: 1px solid #ffffff;
}

th{
  font-family: "f1-black";
  text-align: left;
  background-color: #ffffff;
  color: #14151fff;
}

td, th {
  vertical-align: middle;
  border: 1px solid #ffffff;
  padding: 0.5rem;
}

td{
  border-left: 0;
  border-right: 0;
  text-align: justify;
  padding-inline: 0.5rem;
}

@media screen and (max-width: 750px) {
  .season-header{
      margin-top: 6rem;
      margin-bottom: 3rem;
  }
}

@media screen and (max-width: 700px) {
  .season-header{
      font-size: 15px;
  }
}

@media screen and (max-width: 650px){
  th {
    font-size: 14px;
  }

  td {
    font-size: 14px;
  }
}

@media screen and (max-width: 570px){
  th {
    font-size: 12px;
  }

  td {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px){
  .season-header{
    font-size: 12px;
    width: 100%;
  }
  th {
    font-size: 10px;
  }

  td {
    font-size: 10px;
  }
}